body {
  background: linear-gradient(
    122.3deg,
    rgb(111, 71, 133) 14.6%,
    rgb(232, 129, 166) 29.6%,
    rgb(237, 237, 183) 42.1%,
    rgb(244, 166, 215) 56.7%,
    rgb(154, 219, 232) 68.7%,
    rgb(238, 226, 159) 84.8%
  );

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  text-align: center;
  color: blue;
  border: 2px solid rgb(17, 17, 172);
  padding: 10px;
  font-size: 30px;
  border-radius: 4px;
  background: rgb(194, 215, 58);
}
h2 {
  text-align: center;
  color: blue;
  font-size: 25px;
}
h3 {
  text-align: center;
  color: blue;
  font-size: 20px;
}

img {
  display: block;
  margin: 0% auto;
  max-width: 90%;
  border-radius: 4px;
}
p {
  line-height: 1.5;
  margin: 20px 20px;
  color: blue;
}
span {
  color: red;
  font-style: italic;
}

li {
  display: inline-block;
  margin-right: 50px;
  line-height: 1.5;
  color: blue;
}

button {
  display: block;
  margin: 20px auto;
  background: rgb(194, 215, 58);
  border: none;
  padding: 20px 30px;
  font-size: 18px;
  color: blue;
  border: 10px;
  box-shadow: 10px 10px 10px rgba 0 0 0 0.7;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
  color: red;
  background: white;
}
.more-info {
  text-decoration: none;
  color: blue;
  width: 70%;
  text-align: center;
}
.more-info:hover {
  text-decoration: underline;
  color: red;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 60px;
}

.footer {
  text-align: center;
  font-size: 12px;
}
